# API Configuration
NEXT_PUBLIC_COB_AWS_API_URL=https://cobawsapi.sabpaisa.in
NEXT_PUBLIC_COB_AUTH_KEY=2044c5ea-d46f-4e9e-8b7a-2aa73ce44e69

# Encryption Keys (AES-256-GCM)
NEXT_PUBLIC_AUTH_KEY=JUtMpbgS8tjzGwDwbyQPIrGXe+9/YTOmrVpr5WmzFBg=
NEXT_PUBLIC_AUTH_IV=ILeUg1bJPLa5fQ5DtB+VfwS28F+5Ee4tw+iDFMbvZwa7wDkR/u/G/oj1sRpb70kq

# Feature Flags
NEXT_PUBLIC_ENABLE_LOGIN_ENCRYPTION=true
